@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Josefin-sans;
    src: url(../../assets/fonts/JosefinSans.ttf) format('truetype');
  }
  @font-face {
    font-family: fzf3;
    src: url(../../assets/fonts/FZF3.ttf) format('truetype');
  }
  @font-face {
    font-family: Virgil;
    src: url(../../assets/fonts/Virgil.woff2) format('woff2');
  }
}
